@model Model.News

@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="/Assets/ckfinder/config.js"></script>
<script src="/Assets/ckeditor/ckeditor.js"></script>

<form method="post" action="/Home/CreateNews/" enctype="multipart/form-data">
    <div class="container">
        <h2> Create News</h2>
        <hr />
        <div class="form-group">
            <label class="control-label">Title</label>
            <input class="form-control  form-control1" name="Title" />
        </div>
        <div class="form-group">
            <label class="control-label">ShortContent</label>

            <textarea class="form-control form-control1" name="ShortContent"></textarea>

        </div>
        <div class="form-group">
            <label class="control-label">Content</label>
            <textarea name="content" class="form-control  form-control1"></textarea>
            <Script>
                CKEDITOR.replace('content', {
                    customConfig: '/Assets/ckeditor/config.js',
                });
            </Script>
        </div>


        <div class="form-group">
            <label for="exampleInputFile">
                File input
            </label>
            <input type="file" class="form-control-file" id="imgInp" name="ImageUrl" />
            <p class="help-block">
                Example block-level help text here.
            </p>
            <img alt="Image Preview" id="blah" width="100" height="100" />
        </div>


        <br />
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Create" class="btn btn-success" />
                <a href="/Home/NewsIndex" style="width:68px" value="Create" class="btn btn-success">Back</a>
            </div>
        </div>
        </div>
</form>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
    $(document).ready(() => {
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    })

</script>

