
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login   Error</title>
</head>
<body>
    <div> 
        <p><h2>Bạn vui lòng đăng nhập <a href="/Home/UserLogin">Tại đây</a></h2></p>
    </div>
</body>
</html>
