@model List<Model.Login>
@{
    Layout = null;
}


<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/Assets/css/Login.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .check-input{
            display:none;
            color:chartreuse;
        }
        .check-input1 {
            display: none;
            color: chartreuse;
        }
    </style>
</head>

<body id="LoginForm">
    <div class="container">

        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Đăng Nhập</h2>
                    <p style="color:red">@ViewBag.error</p>

                </div>
                <form id="Login" action="/Home/Userlogin" method="post">
                    <div class="form-group">

                        <input style="display:none" />
                        <input type="text" class="form-control form-control1" id="inputEmail" placeholder="User Name" name="UserName">
                        <span class="check-input">
                            Bạn chưa nhập Username
                        </span>
                        <span class="check-input1">
                            Mật khẩu chưa chính xác
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control1" id="inputPassword" placeholder="Password" name="Password">
                        <span class="check-input">
                            Bạn chưa nhập Password
                        </span>
                    </div>
                    <button type="submit" onclick="return checkValid()" id="btnLogin" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Assets/js/WebValidate.js"></script>
</body>
</html>
