
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<main id="main" class="">

    <div id="content" role="main" class="content-area">


        <div class="banner has-hover is-full-height" id="banner-1147985155">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-1551678740" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                        <div class="text dark">

                            <div class="text-inner text-center">

                                <h2 class="uppercase"><strong>CONTACT</strong></h2>
                                <p><span style="font-size: 90%;">Mọi thắc mắc vui lòng liên hệ qua hotline hoặc qua Fanpage của CLB</span></p>
                                <div class="row" id="row-354373991">
                                    <div class="col medium-6 small-12 large-6">
                                        <div class="col-inner">
                                            <ul>
                                                <li style="text-align: left;">
                                                    <h5 class="alt-font"><span style="font-size: 80%;">Website: http://www.clbcafeso.vn</span></h5>
                                                </li>
                                                <li style="text-align: left;">
                                                    <h5 class="alt-font"><span style="font-size: 80%;">Fanpage: </span></h5>
                                                </li>
                                                <li style="text-align: left;">
                                                    <h5><span style="font-size: 80%;">Group: </span></h5>
                                                </li>
                                            </ul>
                                            <p class="alt-font"> </p>
                                        </div>
                                    </div>
                                </div>
                                <a class="button white is-outline">
                                    <span>read more</span>
                                </a>
                            </div>
                        </div><!-- text-box-inner -->

                    </div><!-- text-box -->

                </div><!-- .banner-layers -->
            </div><!-- .banner-inner -->

            <style scope="scope">


                #banner-1147985155 {
                    padding-top: 100%;
                }

                    #banner-1147985155 .bg.bg-loaded {
                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/07/unsplash3-2-of-4.jpg);
                    }

                    #banner-1147985155 .overlay {
                        background-color: rgba(23, 28, 38, 0.85);
                    }
            </style>
        </div><!-- .banner -->



    </div>

</main><!-- #main -->
