
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<main id="main" class="">

    <div id="content" role="main" class="content-area">


        <div class="banner has-hover is-full-height" id="banner-1147985155">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div id="text-box-1551678740" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                        <div class="text dark">

                            <div class="text-inner text-center">

                                <h2 class="uppercase"><strong>thông tin liên hệ</strong></h2>
                                <p><span style="font-size: 90%;">Mọi thắc mắc vui lòng liên hệ qua hotline hoặc qua Fanpage của CLB kỹ năng cuộc sống</span></p>
                                <div class="row" id="row-354373991">
                                    <div class="col medium-6 small-12 large-6">
                                        <div class="col-inner">
                                            <ul>
                                                <li style="text-align: left;">
                                                    <h5 class="alt-font"><span style="font-size: 80%;">Website: </span></h5>
                                                </li>
                                                <li style="text-align: left;">
                                                    <h5 class="alt-font"><span style="font-size: 80%;">Fanpage: </span></h5>
                                                </li>
                                                <li style="text-align: left;">
                                                    <h5><span style="font-size: 80%;">Group: </span></h5>
                                                </li>
                                            </ul>
                                            <p class="alt-font"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- text-box-inner -->

                    </div><!-- text-box -->

                </div><!-- .banner-layers -->
            </div><!-- .banner-inner -->

       
        </div><!-- .banner -->
    </div>

</main><!-- #main -->
