
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<main id="main" class="">

    <div id="content" role="main">


        <div class="banner has-hover has-parallax" id="banner-2069657325">
            <div class="banner-inner fill">
                <div class="banner-bg fill" data-parallax="-3" data-parallax-container=".banner" data-parallax-background>
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-382366500" class="text-box banner-layer x15 md-x15 lg-x15 y70 md-y70 lg-y70 res-text">
                        <div class="text dark">

                            <div class="text-inner text-center">

                                <h1 class="lead">Về CLB Cafe Số</h1>
                                <p class="lead"> </p>
                            </div>
                        </div><!-- text-box-inner -->

                        <style scope="scope">


                            #text-box-382366500 {
                                width: 60%;
                            }

                                #text-box-382366500 .text {
                                    font-size: 100%;
                                }
                        </style>
                    </div><!-- text-box -->

                </div><!-- .banner-layers -->
            </div><!-- .banner-inner -->

            <style scope="scope">


                #banner-2069657325 {
                    padding-top: 200px;
                }

                    #banner-2069657325 .bg.bg-loaded {
                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2016/08/dummy-2.jpg);
                    }

                    #banner-2069657325 .overlay {
                        background-color: rgba(0, 0, 0, 0.49);
                    }
            </style>
        </div><!-- .banner -->

        <div class="row" id="row-214041354">
            <div class="col small-12 large-12">
                <div class="col-inner">
                    <p>CLB Café Số là tổ chức xã hội tự nguyện của các nhà báo chuyên nghiệp, các nhà hoạt động trong lĩnh vực truyền thông số; các chuyên gia, nhà nghiên cứu chính sách truyền thông; các doanh nhân hoạt động trong lĩnh vực truyền thông số cùng nhau “<em>Kết nối và lan tỏa sức mạnh tri thức”.</em></p>
                    <p>Nơi kết nối các nhà hoạch định chính sách, các nhà nghiên cứu, các doanh nhân với giới truyền thông, tăng cường hiểu biết lẫn nhau, hợp tác vì sự phát triển của đất nước; Tạo diễn đàn trao đổi về nghiệp vụ, đạo đức truyền thông nhằm nâng cao nhận thức và trình độ cho các thành viên; Phát triển mạng lưới truyền thông số, tạo dựng môi trường hoạt động thuận lợi cho đội ngũ những người làm công tác truyền thông số.</p>
                    <p class="lead">&#8230;.</p>
                    <div class="text-center"><div class="is-divider divider clearfix"></div></div><!-- .divider -->
                </div>
            </div>
        </div>
        <section class="section" id="section_375136109">
            <div class="bg section-bg fill bg-fill  bg-loaded">



            </div><!-- .section-bg -->
            <div class="section-content relative">

                <div class="gap-element" style="display:block; height:auto; padding-top:13px" class="clearfix"></div>
               
            </div><!-- .section-content -->

            @*<style scope="scope">


                        #section_375136109 {
                            padding-top: 0px;
                            padding-bottom: 0px;
                            background-color: rgb(255,255,255);
                        }


                        @media (min-width:550px) {

                            #section_375136109 {
                                padding-top: 30px;
                                padding-bottom: 30px;
                            }
                        }
            </style>*@
        </section>


    </div>

</main><!-- #main -->
