
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<main id="main" class="" ng-controller="AboutController">

    <div id="content" role="main">


        <div class="banner has-hover has-parallax" id="banner-395208758">
            <div class="banner-inner fill">
                <div class="banner-bg fill" data-parallax="-2" data-parallax-container=".banner" data-parallax-background>
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-833772746" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                        <div class="text ">

                            <div class="text-inner text-center">

                                <h3 style="color: #fff" class="uppercase">
                                    <strong>
                                        CLB Kỹ năng Cuộc sống
                                    </strong>
                                </h3>
                                <p> </p>
                                <div class="is-divider divider clearfix" style="max-width:67px;height:5px;"></div><!-- .divider -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style scope="scope">
                #banner-395208758 {
                    padding-top: 200px;
                }
            </style>
        </div><!-- .banner -->


        <section class="section" id="section_375136109">
            <div class="row">
                <div class="chapter">
                    <h3 class="uppercase text-center">I. tổng quan</h3>
                    <p>
                        -Thành lập: 21/5/2001
                    </p>
                    <p>
                        - Sứ mệnh: Nâng tầm năng lực sinh viên Tài chính, là cầu nối vững chắc giữa sinh viên và các doanh nghiệp.
                    </p>
                    <p>
                        -Tầm nhìn: Trở thành một trong những CLB có tầm ảnh hưởng nhất đối với sinh viên toàn thành phố Hà Nội và là đối tác tin cậy của hơn 100 doanh nghiệp, tổ chức trên khắp cả nước.
                    </p>
                    <p>
                        - Giá trị cốt lõi:
                        <ul>
                            <li>
                                Tinh thần ham học hỏi
                            </li>
                            <li>
                                Tính chủ động sáng tạo 
                            </li>
                            <li>
                                Phát triển năng lực thành viên
                            </li>
                            <li>
                                Phi lợi nhuận
                            </li>
                            <li>
                                Nâng cao kỹ năng sinh viên
                            </li>
                            <li>
                                Vì sinh viên
                            </li>
                            <li>
                                Văn hóa gia đình
                            </li>
                            <li>
                                Tinh thần gắn kết
                            </li>
                        </ul>
                    </p>
                    <p>
                        -Slogan: Tự tin - Nhiệt tình - Vui vẻ
                    </p>
                    <p>
                        -Lĩnh vực hoạt động: Nguồn nhân lực
                    </p>
                    <p>
                        - Ban cố vấn: Trên 40 thành viên
                    </p>
                    <p>
                        -Quy mô: Trên 120 thành viên với 5 ban chuyên môn:
                        <ul>
                            <li>
                                Ban Đối ngoại
                            </li>
                            <li>
                                Ban Sự kiện
                            </li>
                            <li>
                                Ban Marketing
                            </li>
                            <li>
                                Ban Văn hóa
                            </li>
                            <li>
                                Ban Dự Án
                            </li>
                        </ul>
                    </p>
                    <p>
                        - Thư điện tử: clbkncs.hvtc@gmail.com
                    </p>
                </div>
                <div class="chapter">
                    <h3 class="uppercase text-center">II. CÁC HOẠT ĐỘNG THƯỜNG NIÊN</h3>
                    <p>
                        - Cuộc thi: YOU CAN - Cuộc thi Tìm kiếm Nguồn nhân lực: Là một series chương trình đình đám nhất của Học viện với quy mô tổ chức trên toàn địa bàn thành phố Hà Nội.
                    </p>
                    <p>
                        - GameShow: TUYỆT ĐỈNH SV - Cuộc thi đầy kịch tính, thú vị, chứa đựng những bài học sâu sắc, ý nghĩa dành cho sinh viên trên toàn Hà Nội.
                    </p>
                    <p>
                        -Hội thảo: Kỹ Năng Sinh Viên Thế Kỉ 21, Kỹ năng mềm, tiếng Anh, kế toán - kiểm toán, nghiệp vụ ngân hàng, tin học, thương mại điện tử, chuỗi hội thảo Dohacutachi - Đồng hành cùng Tài chính ....
                    </p>
                    <p>
                        - Phát triển kỹ năng: Training và thực hành các kỹ năng: MC, thuyết trình, làm việc nhóm, tổ chức chức sự kiện, xây dựng - quản lý dự án, IT, truyền thông, giao tiếp ứng xử, đàm phán, ....
                    </p>
                    <p>
                        - Hoạt động tình nguyện: Trao tặng bánh trưng cho người vô gia cư, tình nguyện tại các trung tâm bảo trợ. Giải đáp các thắc mắc liên quan đến vấn đề tuyển sinh cho các tân sinh viên.
                    </p>
                    <p>
                        - Du lịch: Dã ngoại vòng quanh Hà Nội, Sapa, Ba Vì, Tam Đảo,...
                    </p>
                    <h3>
                        CLB KỸ NĂNG CUỘC SỐNG - NƠI ƯƠM MẦM CỦA NHỮNG THẾ HỆ SINH VIÊN TÀI NĂNG
                    </h3>
                </div>
            </div>
        </section>


    </div>

</main><!-- #main -->

<script src="~/Scripts/app/angular/about/about.controller.js"></script>
