
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">



                    <section class="section" id="section_877568950">
                        <div class="bg section-bg fill bg-fill  bg-loaded">



                        </div><!-- .section-bg -->
                        <div class="section-content relative">

                            <div class="gap-element" style="display:block; height:auto; padding-top:13px" class="clearfix"></div>
                        </div><!-- .section-content -->

                    </section>

                    <div class="container section-title-container"><h2 class="section-title section-title-center"><b></b><span class="section-title-main">ĐIỀU LỆ CÂU LẠC BỘ </span><b></b></h2></div><!-- .section-title -->
                    <div class="text-center"><div class="is-divider divider clearfix"></div></div><!-- .divider -->

                    <section class="section" id="section_1294505617">
                        <div class="bg section-bg fill bg-fill  bg-loaded">



                        </div><!-- .section-bg -->
                        <div class="section-content relative">

                            <div class="gap-element" style="display:block; height:auto; padding-top:40px" class="clearfix"></div>
                            <div class="row align-center" id="row-727320104">
                                <div class="col medium-4 small-10 large-4">
                                    <div class="col-inner">
                                        <h2 class="uppercase"><span style="font-size: 150%;">quy chế HĐ</span></h2>
                                        <h2 class="uppercase"><span style="font-size: 150%;">clb </span></h2>
                                        <div class="is-divider divider clearfix" style="max-width:60px;"></div><!-- .divider -->
                                    </div>
                                </div>
                                <div class="col medium-8 small-10 large-8">
                                    <div class="col-inner">
                                        <p><strong>Chương 1<br />TÊN GỌI, MỤC ĐÍCH, THÀNH VIÊN</strong></p>
                                        <p><strong>Điều 1. Tên gọi, biểu trưng (logo), tư cách pháp nhân</strong></p>
                                        <ol>
                                            <li>Tên gọi: <strong>Câu Lạc bộ Cafe số</strong></li>
                                        </ol>
                                        <p>Viết tắt: <strong>CLB Cafe số</strong></p>
                                        <p>Tên tiếng Anh: <strong>Digital Communication Club</strong></p>
                                        <ol start="2">
                                            <li>Biểu trưng:</li>
                                        </ol>
                                        <p>Slogan: <em>Kết nối và lan tỏa sức mạnh tri thức</em></p>
                                        <ol start="3">
                                            <li>Tư cách pháp nhân:</li>
                                        </ol>
                                        <p>CLB là tổ chức xã hội tự nguyện của các nhà báo, những người nghiên cứu và hoạt động trong lĩnh vực truyền thông.</p>
                                        <p>CLB có con dấu để giao dịch.</p>
                                        <p><strong>Điều 2. Mục đích</strong></p>
                                        <ol>
                                            <li>Kết nối các nhà hoạch định chính sách, các nhà nghiên cứu, các doanh nhân với giới truyền thông, tăng cường hiểu biết lẫn nhau, hợp tác vì sự phát triển của đất nước.</li>
                                            <li>Tạo diễn đàn trao đổi về nghiệp vụ, đạo đức truyền thông nhằm nâng cao nhận thức và trình độ cho các thành viên.</li>
                                            <li>Phát triển mạng lưới truyền thông số, tạo dựng môi trường hoạt động thuận lợi cho đội ngũ những người làm công tác truyền thông số.</li>
                                        </ol>
                                        <p><strong>Điều 3. Thành viên</strong></p>
                                        <ol>
                                            <li>Hội viên Hội Truyền thông số Việt Nam</li>
                                            <li>Nhà báo</li>
                                            <li>Người nghiên cứu, hoạt động trong lĩnh vực truyền thông</li>
                                            <li>Chuyên gia, nhà nghiên cứu chính sách</li>
                                            <li>Doanh nhân hoạt động trong lĩnh vực truyền thông số.</li>
                                        </ol>
                                        <p><strong>Chương 2 </strong></p>
                                        <p><strong>CƠ CẤU TỔ CHỨC VÀ CHẾ ĐỘ HOẠT ĐỘNG</strong></p>
                                        <p><strong> Điều 4. Nguyên tắc hoạt động</strong></p>
                                        <ol>
                                            <li>CLB hoạt động theo nguyên tắc tự nguyện, tự chủ, tự cân đối, tuân thủ các quy định của pháp luật và theo Quy chế này.</li>
                                            <li>CLB hoạt động theo chỉ đạo của Hội Truyền thông số Việt Nam và sự điều hành của Ban Chủ nhiệm.</li>
                                        </ol>
                                        <p><strong>Điều 5. Cơ cấu tổ chức</strong></p>
                                        <ol>
                                            <li>CLB có Ban Chủ nhiệm, gồm: Chủ nhiệm, các Phó Chủ nhiệm, Thư ký và các thành viên (sáng lập viên); nhiệm kỳ của Ban Chủ nhiệm CLB là 5 năm.</li>
                                            <li>Chủ nhiệm, các Phó Chủ nhiệm CLB do Ban Thường vụ Hội Truyền thông số Việt Nam bổ nhiệm.</li>
                                            <li>Thư ký CLB do Chủ nhiệm CLB bổ nhiệm.</li>
                                            <li>Chủ nhiệm CLB chịu trách nhiệm về toàn bộ hoạt động của CLB.</li>
                                            <li>Chủ nhiệm CLB phân công nhiệm vụ cho các Phó Chủ nhiệm, Thư ký và thành viên CLB.</li>
                                        </ol>
                                        <p><strong>Điều 6. Tiêu chí chọn lựa và kết nạp thành viên CLB</strong></p>
                                        <ol>
                                            <li>Các nhà báo có uy tín, có ảnh hưởng trong giới truyền thông.</li>
                                            <li>Các nhà nghiên cứu, nhà quản lý, trí thức, doanh nhân có nhiều đóng góp cho sự phát triển truyền thông số Việt Nam.</li>
                                            <li>Có lý lịch rõ ràng, phẩm chất đạo đức tốt.</li>
                                            <li>Quy trình chọn lựa và quyết định công nhận, hủy thành viên, thành viên danh dự của CLB do Ban Chủ nhiệm CLB quyết định.</li>
                                        </ol>
                                        <p><strong>Điều 7. Tuyển chọn thành viên CLB</strong></p>
                                        <ol>
                                            <li>Tự đăng ký tham gia</li>
                                            <li>Được thành viên CLB giới thiệu</li>
                                            <li>Ban chủ nhiệm CLB xem xét từng trường hợp và ra quyết định.</li>
                                        </ol>
                                        <p><strong>Điều 8. Hủy tư cách thành viên CLB</strong></p>
                                        <p>Thành viên CLB bị hủy tư cách thành viên trong các trường hợp sau:</p>
                                        <ol>
                                            <li>Tự nguyện xin ra khỏi CLB.</li>
                                            <li>Không tham gia các hoạt động của CLB trong ba tháng liên tục.</li>
                                            <li>Không thực hiện các nghĩa vụ thành viên theo quy định CLB.</li>
                                            <li>Vi phạm nghiêm trọng quy chế CLB</li>
                                            <li>Lợi dụng danh nghĩa CLB để tiến hành các hoạt động trái với mục đích của CLB, ảnh hưởng đến uy tín CLB.</li>
                                        </ol>
                                        <p>Việc hủy tư cách thành viên do Ban Chủ nhiệm quyết định.</p>
                                        <p><strong>Điều 9. </strong><strong>Quyền lợi, nghĩa vụ của Hội viên CLB</strong><strong><br /></strong>a) Quyền lơi:</p>
                                        <p>&#8211; Được cấp thẻ CLB</p>
                                        <p>&#8211; Được tham dự các cuộc sinh hoạt của CLB.<br />&#8211; Được tham gia các khóa bồi dưỡng nghiệp vụ do CLB mở.<br />&#8211; Được tham gia ý kiến về chương trình hoạt động của CLB.<br />&#8211; Được hưởng các quyền lợi tinh thần, vật chất do hoạt động của CLB mang lại<br />&#8211; Được khen thưởng khi có thành tích xuất sắc.</p>
                                        <ol>
                                            <li>b) Nghĩa vụ:</li>
                                        </ol>
                                        <p>&#8211; Thực hiện đúng Quy chế hoạt động của CLB.</p>
                                        <p>&#8211; Tham gia các hoạt động của CLB.</p>
                                        <p>&#8211; Thực hiện các nhiệm vụ do Ban Chủ nhiệm phân công.<br />&#8211; Tuân thủ các quy định về đạo đức nghề nghiệp, không lợi dụng hội viên CLB và hoạt động của CLB vì mục đích cá nhân, vụ lợi.<br />&#8211; Đoàn kết, giúp đỡ lẫn nhau, chăm lo xây dựng CLB ngày càng lớn mạnh.<br />&#8211; Đóng hội phí: 100.000 đồng/tháng, thời gian đóng vào kỳ sinh hoạt đầu năm của CLB.<br /><strong>Điều 10. Hoạt động của CLB</strong></p>
                                        <ol>
                                            <li>CLB sinh hoạt định kỳ mỗi tháng một lần, vào sáng thứ bảy đầu tiên trong tháng, từ 8h30 đến 11h.</li>
                                            <li>Các hoạt động khác do Ban Chủ nhiệm quyết định.</li>
                                            <li>Giữa hai kỳ sinh hoạt, các thành viên có thể trao đổi, chia sẻ thông tin thông qua <strong>Diễn đàn Café số.</strong></li>
                                            <li>Địa điểm sinh hoạt CLB: Caphe New Wind, 96 đường Chùa Hà, phường Nghĩa Tân, quận Cầu Giấy, TP. Hà Nội.</li>
                                        </ol>
                                        <p><strong>Chương 3 </strong></p>
                                        <p><strong>TÀI CHÍNH</strong></p>
                                        <p><strong>Điều 11. Nguồn thu </strong></p>
                                        <ol>
                                            <li>Đóng góp của hội viên CLB.</li>
                                            <li>Các dịch vụ tư vấn, đào tạo, tổ chức sự kiện.</li>
                                            <li>Tài trợ của các doanh nghiệp truyền thông số.</li>
                                        </ol>
                                        <p>Ban Chủ nhiệm quản lý các khoản thu, chi của CLB, thông qua tài khoản mở tại một ngân hàng.</p>
                                        <p><strong>Điều 12. Các khoản chi</strong></p>
                                        <p>Kinh phí của CLB được chi cho các hoạt động sau:</p>
                                        <ol>
                                            <li>Các buổi sinh hoạt định kỳ của CLB.</li>
                                            <li>Các sự kiện do CLB tổ chức.</li>
                                            <li>Các dịch vụ tư vấn, đào tạo, nghiên cứu.</li>
                                            <li>Các giải thưởng của CLB.</li>
                                            <li>Các hoạt động khác của CLB.</li>
                                        </ol>
                                        <p>Việc sử dụng kinh phí của CLB do Ban Chủ nhiệm quyết định theo tinh thần công khai, minh bạch, đúng mục đích, hiệu quả, tuân thủ các quy định pháp luật.</p>
                                        <p><strong>Chương 4</strong></p>
                                        <p><strong>KHEN THƯỞNG, KỶ LUẬT</strong></p>
                                        <p><strong>Điều 13.</strong> Thành viên CLB, các tổ chức, cá nhân có thành tích xuất sắc trong hoạt động của CLB được Ban Chủ nhiệm CLB khen thưởng.</p>
                                        <p><strong>Điều 14.</strong> Thành viên CLB vi phạm các quy định tại điều 8 của Quy chế sẽ bị hủy tư cách hội viên CLB.</p>
                                        <p><strong>Điều 15</strong>.  Các quy định về khen thưởng, kỷ luật do Ban Chủ nhiệm CLB quyết định.</p>
                                        <p><strong>Chương 5 </strong></p>
                                        <p><strong>ĐIỀU KHOẢN THI HÀNH</strong></p>
                                        <p><strong> Điều 16. </strong> <strong>Thống nhất thực hiện</strong></p>
                                        <p>Quy chế này đã được Ban Chủ nhiệm CLB nhất trí thông qua và có hiệu lực thi hành kể từ ngày ký ban hành.</p>
                                        <p><strong>Điều 17. Sửa chữa, thay đổi quy chế</strong></p>
                                        <p>Việc sửa đổi Quy chế phải được các thành viên Ban chủ nhiệm CLB thông qua.</p>
                                    </div>
                                </div>
                                <style scope="scope">

                                </style>
                            </div>
                        </div><!-- .section-content -->

                        <style scope="scope">


                            #section_1294505617 {
                                padding-top: 30px;
                                padding-bottom: 30px;
                            }
                        </style>
                    </section>


                </div><!-- .col-inner -->
            </div><!-- .large-12 -->
        </div><!-- .row -->
    </div>

</main><!-- #main -->
