
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<style>
    .carousel-item img {
        height: 300px;
    }
</style>
<main id="main" class="" ng-controller="IndexController">

    <div id="content" role="main" class="content-area">
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>

        <h2 style="text-align: center;">TIN TỨC</h2>
        <div class="text-center">
            <div class="is-divider divider clearfix" style="max-width:150px;"></div>
        </div><!-- .divider -->

        <div class="row large-columns-3 medium-columns- small-columns-1 slider row-slider slider-nav-reveal slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
            <div class="col post-item" ng-repeat="item in listNews">
                <div class="col-inner">
                    <a href="#detail" data-toggle="modal" class="plain" ng-click="viewInfo(item.NewsId)">
                        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="711" height="400" ng-src="{{'/Assets/images/'+item.UrlRepresent | filterImagerUser}}" class="attachment-medium size-medium wp-post-image" alt="" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large " ng-bind="item.Title">Sinh hoạt chuyên đề tháng 2/2019</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt " ng-bind="item.shortContent">Câu lạc bộ Cafe Số trân trọng kính mời quý anh/chị Nhà báo, Phóng viên [...]					</p>



                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">13</span><br>
                                    <span class="post-date-month is-xsmall">Feb</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a>
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <!-- Modal -->

        </div>
        @*<h2 class="uppercase" style="text-align: center;">hình ảnh clb</h2>
        <div class="text-center">
            <div class="is-divider divider clearfix" style="max-width:150px;"></div>
        </div>*@
        @*<div class="banner-grid-wrapper">
            <div id="banner-grid-1501484428" class="banner-grid row row-grid row-large" data-packery-options="">
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col grid-col small-14 large-4 grid-col-1-3">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col grid-col small-14 large-4 grid-col-1-3">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <img src="~/Content/images/img1.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div><!-- .banner-grid .row .grid -->
        </div><!-- .banner-grid-wrapper -->*@
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <h1 class="uppercase" style="text-align: center;">
            <span style="font-size: 100%;">
                Thành viên clb
            </span>
        </h1>
        <div class="text-center">
            <div class="is-divider divider clearfix" style="max-width:150px;"></div>
        </div>
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <div class="row align-center" id="row-354133162">
            <div class="col medium-3 small-8 large-3" ng-repeat="item in members">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="1315" height="1320"
                                     ng-src="{{'/Assets/images/' + item.UrlPresentMember | filterImagerUser}}"
                                     class="attachment- size-" alt="" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name" ng-bind="item.name"></span><br />
                                    <span class="person-title is-small thin-font op-7" ng-bind="item.position">
                                        Chủ nhiệm CLB
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                @*<p ng-bind="item.intro"></p>*@
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
        </div>
        <div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px" ></div>

        <div id="author">
            <div class="gap-elemen clearfixt" style="display:block; height:auto; padding-top:30px"></div>

            <h2 class="uppercase" style="text-align: center;">Người sáng lập</h2>
            <div class="text-center">
                <div class="is-divider divider clearfix" style="max-width:150px;"></div>
            </div><!-- .divider -->
            <div class="author-wrapper">
                <div class="img-author">
                    <img src="~/Content/images/author.jpg" class=" img-responsive img-thumbnail" />
                </div>
                <div class="info">
                    <div class="name uppercase">Đặng Thị Hồng Nhung</div>
                </div>
            </div>
        </div>



    </div>
    <div class="modal fade" id="detail" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6>Tin về CLB</h6>
                    <h4 class="modal-title" ng-bind="info.Title"></h4>
                    <small ng-bind="info.CreateDate"></small>
                </div>
                <div class="modal-body">
                    <div class="img-profile text-center" style="margin-bottom: 20px;">
                        <img class="img-thumbnail" ng-src="{{'/Assets/images/'+info.UrlRepresent | filterUrlImg}}" alt="" />
                    </div>
                    <div class="content">
                        <p ng-bind="info.Content"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="/News/Index" class="btn btn-primary">Tin tức khác</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

 

</main><!-- #main -->
<script src="~/Scripts/app/angular/index/index.service.js"></script>
<script src="~/Scripts/app/angular/index/index.controller.js"></script>
<script src="~/Scripts/app/angular/news/news.filter.js"></script>
<script src="~/Scripts/app/angular/index/index.filter.js"></script>