
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main id="main" class="">

    <div id="content" role="main" class="content-area">

  
        <div class="banner has-hover bg-fade-in" id="banner-148751398">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-324969983" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                        <div class="text dark">
                            <div class="text-inner text-center">
                                <h4>CHUYÊN ĐỀ THÁNG 2/2019</h4>
                                <h3>
                                    <strong>
                                        PGS.TS Nguyễn Mạnh Hà – Nguyên Viện trưởng Viện Lịch sử Đảng, Học viện Chính trị Quốc
                                        gia Hồ Chí Minh thuyết trình
                                    </strong>
                                </h3>
                                <div id="timer-1706032192" class="ux-timer light" data-text-plural="s" data-text-hour="hour"
                                     data-text-day="day" data-text-week="week" data-text-min="min" data-text-sec="sec"
                                     data-text-hour-p="" data-text-day-p="" data-text-week-p="" data-text-min-p="" data-text-sec-p=""
                                     data-countdown="2019/2/16 08:30">
                                    <span>
                                        &nbsp;<div class="loading-spin dark centered"></div>
                                        <strong>&nbsp;</strong>
                                    </span>
                                </div>
                                <style scope="scope">

                                    #timer-1706032192 {
                                        font-size: 189%;
                                    }

                                        #timer-1706032192 span {
                                            background-color: rgba(255, 255, 255, 0.36);
                                        }
                                </style>
                            </div>
                        </div><!-- text-box-inner -->
                        <style scope="scope">

                            #text-box-324969983 {
                                width: 84%;
                            }

                                #text-box-324969983 .text {
                                    font-size: 100%;
                                }
                        </style>
                    </div><!-- text-box -->
                </div><!-- .banner-layers -->
            </div><!-- .banner-inner -->

            <style scope="scope">

                #banner-148751398 {
                    padding-top: 300px;
                }

                    #banner-148751398 .bg.bg-loaded {
                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/10/Hoi_nghi_TW_4.jpg);
                    }

                    #banner-148751398 .overlay {
                        background-color: rgba(61, 60, 58, 0.58);
                    }
            </style>
        </div><!-- .banner -->

        <section class="section" id="section_1592230183">
            <div class="bg section-bg fill bg-fill  bg-loaded">

                <div class="section-bg-overlay absolute fill"></div>

            </div><!-- .section-bg -->
            <div class="section-content relative">
                <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
                <div class="row" id="row-1615985243">
                    <div class="col medium-4 small-12 large-4">
                        <div class="col-inner">
                            <div class="banner has-hover" id="banner-1907967076">
                                <div class="banner-inner fill">
                                    <div class="banner-bg fill">
                                        <div class="bg fill bg-fill "></div>
                                        <div class="is-border" style="border-color:rgb(0, 0, 0);border-width:2px 2px 2px 2px;">
                                        </div>
                                    </div><!-- bg-layers -->
                                    <div class="banner-layers container">
                                        <div class="fill banner-link"></div>
                                        <div id="text-box-1415313380"
                                             class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y65 lg-y65 res-text">
                                            <div class="text ">
                                                <div class="text-inner text-center">
                                                    <h1><strong>Về chúng tôi</strong></h1>
                                                    <p>
                                                        Câu lạc bộ Cafe Số (tên tiếng Anh: <strong>Digital Communication Club) </strong>trực
                                                        thuộc Hội truyền thông số Việt Nam, là tổ chức xã hội tự nguyện của các nhà báo, những
                                                        người nghiên cứu và hoạt động trong lĩnh vực truyền thông&#8230;
                                                    </p>
                                                    <div class="social-icons follow-icons " style="font-size:130%">
                                                        <a href="x" target="_blank"
                                                           data-label="Facebook" rel="noopener noreferrer nofollow"
                                                           class="icon button circle is-outline facebook tooltip" title="Follow on Facebook">
                                                            <i class="icon-facebook"></i>
                                                        </a><a href="x" target="_blank"
                                                               rel="noopener noreferrer nofollow" data-label="Instagram"
                                                               class="icon button circle is-outline  instagram tooltip"
                                                               title="Follow on Instagram"><i class="icon-instagram"></i></a><a href="x"
                                                                                                                                target="_blank" data-label="Twitter" rel="noopener noreferrer nofollow"
                                                                                                                                class="icon button circle is-outline  twitter tooltip" title="Follow on Twitter">
                                                            <i class="icon-twitter"></i>
                                                        </a><a href="x" target="_blank"
                                                               rel="noopener noreferrer nofollow" data-label="LinkedIn"
                                                               class="icon button circle is-outline  linkedin tooltip" title="Follow on LinkedIn">
                                                            <i class="icon-linkedin"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div><!-- text-box-inner -->
                                            <style scope="scope">

                                                #text-box-1415313380 {
                                                    width: 67%;
                                                }

                                                    #text-box-1415313380 .text {
                                                        font-size: 100%;
                                                    }
                                            </style>
                                        </div><!-- text-box -->
                                    </div><!-- .banner-layers -->
                                </div><!-- .banner-inner -->

                                <style scope="scope">

                                    #banner-1907967076 {
                                        padding-top: 300px;
                                        background-color: rgba(255, 255, 255, 0);
                                    }
                                </style>
                            </div><!-- .banner -->

                        </div>
                    </div>
                    <div class="col medium-8 small-12 large-8">
                        <div class="col-inner">
                            <div class="banner has-hover" id="banner-1407905537">
                                <div class="banner-inner fill">
                                    <div class="banner-bg fill">
                                        <div class="bg fill bg-fill "></div>
                                    </div><!-- bg-layers -->
                                    <div class="banner-layers container">
                                        <div class="fill banner-link"></div>
                                    </div><!-- .banner-layers -->
                                </div><!-- .banner-inner -->

                                <style scope="scope">

                                    #banner-1407905537 {
                                        padding-top: 300px;
                                    }

                                        #banner-1407905537 .bg.bg-loaded {
                                            background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK.jpg);
                                        }

                                        #banner-1407905537 .bg {
                                            background-position: 19% 80%;
                                        }
                                </style>
                            </div><!-- .banner -->

                        </div>
                    </div>
                </div>
            </div><!-- .section-content -->

            <style scope="scope">

                #section_1592230183 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                    #section_1592230183 .section-bg-overlay {
                        background-color: rgba(255, 255, 255, .5);
                    }
            </style>
        </section>
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <h1 class="uppercase" style="text-align: center;">
            <span style="font-size: 100%;">
                ban chủ nhiệm &amp; ban thư
                ký
            </span>
        </h1>
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <div class="row align-center" id="row-354133162">
            <div class="col medium-3 small-8 large-3">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="1315" height="1320"
                                     src="http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh.jpg"
                                     class="attachment- size-" alt=""
                                     srcset="http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh.jpg 1315w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-280x280.jpg 280w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-398x400.jpg 398w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-768x771.jpg 768w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-797x800.jpg 797w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-300x300.jpg 300w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-600x602.jpg 600w, http://clbcafeso.vn/wp-content/uploads/2018/07/Nha-bao-Le-Tho-Binh-100x100.jpg 100w"
                                     sizes="(max-width: 1315px) 100vw, 1315px" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name">NHÀ BÁO LÊ THỌ BÌNH</span><br />
                                    <span class="person-title is-small thin-font op-7">
                                        Chủ nhiệm CLB
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                <p>Phó Chủ tịch kiêm Tổng thư ký Hội truyền thông số Việt Nam.</p>
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
            <div class="col medium-3 small-8 large-3">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="585" height="707"
                                     src="http://clbcafeso.vn/wp-content/uploads/2018/07/37420345_2162415023800020_8480549664825802752_n-1.jpg"
                                     class="attachment- size-" alt=""
                                     srcset="http://clbcafeso.vn/wp-content/uploads/2018/07/37420345_2162415023800020_8480549664825802752_n-1.jpg 585w, http://clbcafeso.vn/wp-content/uploads/2018/07/37420345_2162415023800020_8480549664825802752_n-1-331x400.jpg 331w"
                                     sizes="(max-width: 585px) 100vw, 585px" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name">dn Nguyễn Văn Hảo</span><br />
                                    <span class="person-title is-small thin-font op-7">
                                        Phó Chủ nhiệm
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                <p>Phó Chủ tịch Hội TTS Việt Nam</p>
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
            <div class="col medium-3 small-8 large-3">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="480" height="468"
                                     src="http://clbcafeso.vn/wp-content/uploads/2018/07/hntrainttindoingoai3.png"
                                     class="attachment- size-" alt=""
                                     srcset="http://clbcafeso.vn/wp-content/uploads/2018/07/hntrainttindoingoai3.png 480w, http://clbcafeso.vn/wp-content/uploads/2018/07/hntrainttindoingoai3-410x400.png 410w"
                                     sizes="(max-width: 480px) 100vw, 480px" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name">NHÀ BÁO Lê Nghiêm</span><br />
                                    <span class="person-title is-small thin-font op-7">
                                        Phó chủ nhiệm
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                <p>Nguyên Cục trưởng Cục thông tin đối ngoại Bộ TT&amp;TT</p>
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
            <div class="col medium-3 small-8 large-3">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="330" height="330"
                                     src="http://clbcafeso.vn/wp-content/uploads/2018/07/Mr-Nguyen-Quang-Dong.jpg"
                                     class="attachment- size-" alt=""
                                     srcset="http://clbcafeso.vn/wp-content/uploads/2018/07/Mr-Nguyen-Quang-Dong.jpg 330w, http://clbcafeso.vn/wp-content/uploads/2018/07/Mr-Nguyen-Quang-Dong-280x280.jpg 280w, http://clbcafeso.vn/wp-content/uploads/2018/07/Mr-Nguyen-Quang-Dong-300x300.jpg 300w, http://clbcafeso.vn/wp-content/uploads/2018/07/Mr-Nguyen-Quang-Dong-100x100.jpg 100w"
                                     sizes="(max-width: 330px) 100vw, 330px" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name">CHUYÊN GIA Nguyễn Quang Đồng</span><br />
                                    <span class="person-title is-small thin-font op-7">
                                        Phó Chủ nhiệm
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                <p>Viện trưởng Viện nghiên cứu chính sách và phát triển truyền thông.</p>
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
            <style scope="scope">
            </style>
        </div>
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <div class="banner-grid-wrapper">
            <div id="banner-grid-1501484428" class="banner-grid row row-grid row-large" data-packery-options="">
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <div class="banner has-hover" id="banner-114729953">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-114729953 {
                                    padding-top: 500px;
                                }

                                    #banner-114729953 .bg.bg-loaded {
                                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/08/1.jpg);
                                    }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
                <div class="col grid-col small-14 large-4 grid-col-1-3">
                    <div class="col-inner">
                        <div class="banner has-hover" id="banner-1001807570">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                    <div id="text-box-1873642590"
                                         class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                        <div class="text ">
                                            <div class="text-inner text-center">
                                                <h1 class="uppercase"><span style="font-size: 28.512px;"><b>galery</b></span></h1>
                                                <a href="http://clbcafeso.vn/galery/" target="_self"
                                                   class="button primary is-link is-xlarge">
                                                    <span>xem thêm</span>
                                                </a>
                                            </div>
                                        </div><!-- text-box-inner -->
                                        <style scope="scope">

                                            #text-box-1873642590 {
                                                width: 77%;
                                            }

                                                #text-box-1873642590 .text {
                                                    font-size: 100%;
                                                }
                                        </style>
                                    </div><!-- text-box -->
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-1001807570 {
                                    padding-top: 500px;
                                    background-color: rgb(255, 255, 255);
                                }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <div class="banner has-hover bg-zoom" id="banner-2105905013">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-2105905013 {
                                    padding-top: 500px;
                                }

                                    #banner-2105905013 .bg.bg-loaded {
                                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/08/9.jpg);
                                    }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
                <div class="col grid-col small-14 large-4 grid-col-2-3">
                    <div class="col-inner">
                        <div class="banner has-hover" id="banner-291184600">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                    <div id="text-box-606146989"
                                         class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                        <div class="text dark">
                                            <div class="text-inner text-center">
                                            </div>
                                        </div><!-- text-box-inner -->
                                        <style scope="scope">

                                            #text-box-606146989 {
                                                width: 60%;
                                            }

                                                #text-box-606146989 .text {
                                                    font-size: 100%;
                                                }
                                        </style>
                                    </div><!-- text-box -->
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-291184600 {
                                    padding-top: 500px;
                                }

                                    #banner-291184600 .bg.bg-loaded {
                                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/09/vt_hnd0_qlrs.jpg);
                                    }

                                    #banner-291184600 .bg {
                                        background-position: 57% 66%;
                                    }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
                <div class="col grid-col small-14 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <div class="banner has-hover" id="banner-569656994">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                    <div id="text-box-2124633489"
                                         class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                        <div class="text dark">
                                            <div class="text-inner text-center">
                                            </div>
                                        </div><!-- text-box-inner -->
                                        <style scope="scope">

                                            #text-box-2124633489 {
                                                width: 60%;
                                            }

                                                #text-box-2124633489 .text {
                                                    font-size: 100%;
                                                }
                                        </style>
                                    </div><!-- text-box -->
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-569656994 {
                                    padding-top: 500px;
                                }

                                    #banner-569656994 .bg.bg-loaded {
                                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/08/DSC00967.jpg);
                                    }

                                    #banner-569656994 .bg {
                                        background-position: 81% 15%;
                                    }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
                <div class="col grid-col small-13 large-4 grid-col-1-2">
                    <div class="col-inner">
                        <div class="banner has-hover" id="banner-172549120">
                            <div class="banner-inner fill">
                                <div class="banner-bg fill">
                                    <div class="bg fill bg-fill "></div>
                                </div><!-- bg-layers -->
                                <div class="banner-layers container">
                                    <div class="fill banner-link"></div>
                                    <div id="text-box-1446803100"
                                         class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                                        <div class="text dark">
                                            <div class="text-inner text-center">
                                            </div>
                                        </div><!-- text-box-inner -->
                                        <style scope="scope">

                                            #text-box-1446803100 {
                                                width: 60%;
                                            }

                                                #text-box-1446803100 .text {
                                                    font-size: 100%;
                                                }
                                        </style>
                                    </div><!-- text-box -->
                                </div><!-- .banner-layers -->
                            </div><!-- .banner-inner -->

                            <style scope="scope">

                                #banner-172549120 {
                                    padding-top: 500px;
                                }

                                    #banner-172549120 .bg.bg-loaded {
                                        background-image: url(http://clbcafeso.vn/wp-content/uploads/2018/08/12-1067x800.jpg);
                                    }

                                    #banner-172549120 .bg {
                                        background-position: 19% 26%;
                                    }
                            </style>
                        </div><!-- .banner -->

                    </div>
                </div>
            </div><!-- .banner-grid .row .grid -->
            <style scope="scope">

                #banner-grid-1501484428 .grid-col-1 {
                    height: 511px
                }

                #banner-grid-1501484428 .grid-col-1-2 {
                    height: 255.5px
                }

                #banner-grid-1501484428 .grid-col-1-3 {
                    height: 170.33333333333px
                }

                #banner-grid-1501484428 .grid-col-2-3 {
                    height: 340.66666666667px
                }

                #banner-grid-1501484428 .grid-col-1-4 {
                    height: 127.75px
                }

                #banner-grid-1501484428 .grid-col-3-4 {
                    height: 383.25px
                }
            </style>
        </div><!-- .banner-grid-wrapper -->
        <h2 style="text-align: center;">TIN TỨC</h2>
        <div class="text-center">
            <div class="is-divider divider clearfix" style="max-width:150px;"></div>
        </div><!-- .divider -->

        <div class="row large-columns-4 medium-columns-1 small-columns-1 row-xsmall slider row-slider slider-nav-simple slider-nav-push"
             data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2019/02/13/sinh-hoat-chuyen-de-thang-2-2019/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="711" height="400"
                                         src="http://clbcafeso.vn/wp-content/uploads/2019/02/phanmanha-711x400.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2019/02/phanmanha-711x400.jpg 711w, http://clbcafeso.vn/wp-content/uploads/2019/02/phanmanha-768x432.jpg 768w, http://clbcafeso.vn/wp-content/uploads/2019/02/phanmanha-600x338.jpg 600w, http://clbcafeso.vn/wp-content/uploads/2019/02/phanmanha.jpg 960w"
                                         sizes="(max-width: 711px) 100vw, 711px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">Sinh hoạt chuyên đề tháng 2/2019</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Câu lạc bộ Cafe Số trân trọng kính mời quý anh/chị Nhà báo,
                                        Phóng viên [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">13</span><br>
                                    <span class="post-date-month is-xsmall">Feb</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/10/02/chuyen-de-thang-10-nhat-the-hoa-bo-may-co-hoi-va-thach-thuc-trong-tien-trinh-doi-moi-the-che-chinh-tri-o-viet-nam/"
                       class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="640" height="397"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/10/nguyen-si-dung.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/10/nguyen-si-dung.jpg 640w, http://clbcafeso.vn/wp-content/uploads/2018/10/nguyen-si-dung-600x372.jpg 600w"
                                         sizes="(max-width: 640px) 100vw, 640px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        Chuyên đề tháng 10: “Nhất thể hóa bộ máy: cơ hội và thách thức
                                        trong tiến trình đổi mới thể chế chính trị ở Việt Nam”
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        MỜI THAM DỰ CHUYÊN ĐỀ THÁNG 10 Chủ đề: “Nhất thể hóa bộ máy: cơ
                                        hội [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">02</span><br>
                                    <span class="post-date-month is-xsmall">Oct</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/09/14/mot-so-bai-bao-sau-buoi-thuyet-trinh-ngay-8-9/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="666" height="374"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_hnd0_qlrs.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_hnd0_qlrs.jpg 666w, http://clbcafeso.vn/wp-content/uploads/2018/09/vt_hnd0_qlrs-600x337.jpg 600w"
                                         sizes="(max-width: 666px) 100vw, 666px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        Một số bài báo sau buổi trao đổi thường kỳ của CLB Cafe Số ngày
                                        8/9
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Ngày 8/9, CLB Cafe Số đã tổ chức buổi trao đổi thường kỳ tháng
                                        9/2018. [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">14</span><br>
                                    <span class="post-date-month is-xsmall">Sep</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/09/14/thong-bao-moi-tham-du-buoi-trao-doi-xung-quanh-chu-de-chuong-trinh-giao-duc-pho-thong-moi-co-gi-moi/"
                       class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="600" height="400"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/09/nguyen-minh-thuyet-600x400.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/nguyen-minh-thuyet-600x400.jpg 600w, http://clbcafeso.vn/wp-content/uploads/2018/09/nguyen-minh-thuyet-768x512.jpg 768w, http://clbcafeso.vn/wp-content/uploads/2018/09/nguyen-minh-thuyet.jpg 888w"
                                         sizes="(max-width: 600px) 100vw, 600px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        Thông báo: Mời tham dự buổi trao đổi xung quanh chủ đề “Chương
                                        trình giáo dục phổ thông mới có gì mới?”
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Có thể nói Giáo dục đào tạo là một trong những lĩnh vực có nhiều
                                        [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">14</span><br>
                                    <span class="post-date-month is-xsmall">Sep</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/"
                       class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="666" height="374"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg 666w, http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt-600x337.jpg 600w"
                                         sizes="(max-width: 666px) 100vw, 666px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        VietTimes: Công nghệ giáo dục và những điều “lạ lùng” của GS. Hồ
                                        Ngọc Đại
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Trong buổi sinh hoạt chuyên đề thường kỳ tháng 9 của Câu lạc bộ
                                        Cafe [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">09</span><br>
                                    <span class="post-date-month is-xsmall">Sep</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/09/09/dan-tri-gs-ho-ngoc-dai-danh-van-bang-o-vuong-hinh-tron-hoc-sinh-se-khong-tai-mu-chu/"
                       class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="640" height="400"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/09/gs-dai-2-crop-15364593954431317764307-640x400.png"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/gs-dai-2-crop-15364593954431317764307.png 640w, http://clbcafeso.vn/wp-content/uploads/2018/09/gs-dai-2-crop-15364593954431317764307-600x375.png 600w"
                                         sizes="(max-width: 640px) 100vw, 640px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        Dân Trí: GS Hồ Ngọc Đại: Đánh vần bằng ô vuông, hình tròn, học
                                        sinh sẽ không tái mù chữ
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        GS Hồ Ngọc Đại, “cha đẻ” của Công nghệ giáo dục, tác giả cuốn
                                        sách [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">09</span><br>
                                    <span class="post-date-month is-xsmall">Sep</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/"
                       class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="500" height="333"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/09/GS-Ho-Ngoc-Dai-8095-1536402813.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt="" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">
                                        VnExpress: GS Hồ Ngọc Đại: Áp đặt tư tưởng của người lớn cho học
                                        sinh là lỗi thời
                                    </h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Ngày 8/9, tại Hà Nội, GS Hồ Ngọc Đại, chủ biên Tiếng Việt lớp 1
                                        Công [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">08</span><br>
                                    <span class="post-date-month is-xsmall">Sep</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
            <div class="col post-item" data-animate="fadeInDown">
                <div class="col-inner">
                    <a href="http://clbcafeso.vn/2018/08/06/ra-mat-cau-lac-bo-cafe-so/" class="plain">
                        <div class="box box-normal box-text-bottom box-blog-post has-hover">
                            <div class="box-image">
                                <div class="image-cover" style="padding-top:56.25%;">
                                    <img width="533" height="400"
                                         src="http://clbcafeso.vn/wp-content/uploads/2018/08/unnamed-1-533x400.jpg"
                                         class="attachment-medium size-medium wp-post-image" alt=""
                                         srcset="http://clbcafeso.vn/wp-content/uploads/2018/08/unnamed-1-533x400.jpg 533w, http://clbcafeso.vn/wp-content/uploads/2018/08/unnamed-1-768x576.jpg 768w, http://clbcafeso.vn/wp-content/uploads/2018/08/unnamed-1-1067x800.jpg 1067w, http://clbcafeso.vn/wp-content/uploads/2018/08/unnamed-1-600x450.jpg 600w"
                                         sizes="(max-width: 533px) 100vw, 533px" />
                                </div>
                            </div><!-- .box-image -->
                            <div class="box-text text-center">
                                <div class="box-text-inner blog-post-inner">

                                    <h5 class="post-title is-large ">Ra mắt câu lạc bộ Cafe Số</h5>
                                    <div class="is-divider"></div>
                                    <p class="from_the_blog_excerpt ">
                                        Ngày 4/8/2018, tại 84 Duy Tân, Hà Nội, lễ ra mắt Câu lạc bộ Café
                                        [...]
                                    </p>

                                </div><!-- .box-text-inner -->
                            </div><!-- .box-text -->
                            <div class="badge absolute top post-date badge-outline">
                                <div class="badge-inner">
                                    <span class="post-date-day">06</span><br>
                                    <span class="post-date-month is-xsmall">Aug</span>
                                </div>
                            </div>
                        </div><!-- .box -->
                    </a><!-- .link -->
                </div><!-- .col-inner -->
            </div><!-- .col -->
        </div>

    </div>

</main><!-- #main -->
