
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<main id="main" class="">

    <div id="content" class="blog-wrapper blog-single page-wrapper">


        <div class="row row-large row-divided ">

            <div class="large-12 col">



                <article id="post-574" class="post-574 post type-post status-publish format-standard has-post-thumbnail hentry category-bai-viet-hay">
                    <div class="article-inner ">
                        <header class="entry-header">
                            <div class="entry-header-text entry-header-text-top text-center">
                                <h6 class="entry-category is-xsmall">
                                    <a href="/News/Good" rel="category tag">Bài viết hay</a>
                                </h6>

                                <h1 class="entry-title">VietTimes: Công nghệ giáo dục và những điều “lạ lùng” của GS. Hồ Ngọc Đại</h1>
                                <div class="entry-divider is-divider small"></div>

                                <div class="entry-meta uppercase is-xsmall">
                                    <span class="posted-on">Posted on <a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" rel="bookmark"><time class="entry-date published" datetime="2018-09-09T13:50:56+00:00">9 September, 2018</time><time class="updated" datetime="2018-09-14T02:11:49+00:00">14 September, 2018</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="http://clbcafeso.vn/author/admin/">admin</a></span></span>
                                </div><!-- .entry-meta -->
                            </div><!-- .entry-header -->

                            <div class="entry-image relative">
                                  <img width="666" height="374" src="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg 666w, http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt-600x337.jpg 600w" sizes="(max-width: 666px) 100vw, 666px" />
                                <div class="badge absolute top post-date badge-outline">
                                    <div class="badge-inner">
                                        <span class="post-date-day">09</span><br>
                                        <span class="post-date-month is-small">Sep</span>
                                    </div>
                                </div>
                            </div><!-- .entry-image -->
                        </header><!-- post-header -->
                        <div class="entry-content single-page">

                            <p>Trong buổi sinh hoạt chuyên đề thường kỳ tháng 9 của Câu lạc bộ Cafe Số, diễn ra ngày 8/9/2018 với chủ đề: “Công nghệ giáo dục trong kỷ nguyên 4.0”, GS. Hồ Ngọc Đại chủ biên cuốn sách <i>Tiếng Việt lớp 1 Công nghệ Giáo dục</i> gây xôn xao dư luận đã có những đối thoại trực tiếp và thẳng thắn về cuốn sách và chương trình giảng dạy của mình.</p>
                            <p>Trước khi đi sâu vào trọng tâm, GS. Hồ Ngọc Đại đã có những chia sẻ về quá trình học tập nghiên cứu, giúp xây dựng nên lý thuyết “Công nghệ giáo dục” như hôm nay.</p>
                            <p>Năm 1968, ông Hồ Ngọc Đại là một trong 2 người được cử sang Liên Xô để học tập kiến thức và tiếp thu các phương pháp học tập mới.</p>
                            <p>Khi đang là nghiên cứu sinh năm thứ 2, ông Đại đã bắt đầu tích lũy được kiến thức về tâm lý học, làm quen với lý thuyết trong lĩnh vực giáo dục của Galperin và có thời gian theo dõi thực nghiệm của các nhà khoa học trong lĩnh vực này là Elkonin – Đavưđov.</p>
                            <p>Chính những trải nghiệm này đã làm thay đổi tư duy, giúp ông nhận ra sự thiếu sót của nền giáo dục cũ và bắt đầu đi tìm một giải pháp khả thi và có ích hơn. Cần lưu ý rằng, không chỉ riêng chàng nghiên cứu sinh trẻ tuổi khi ấy mới nhận ra vấn đề này, những năm 1960 đã có các “cuộc phiêu lưu” đổi mới trong giáo dục cũng gây ồn ào không kém được những người đi trước thực hiện.</p>
                            <p>Qua quá trình nghiên cứu, ông nhận ra các giải pháp trước đây hoặc chỉ chỉ thay đổi phương pháp nhưng nội dung cũ; hoặc chỉ thay đổi nội dung nhưng không đổi mới phương pháp giảng dạy nên đã dẫn đến thất bại.</p>
                            <p>Và rồi ông rút ra kết luận về một giải pháp tổng thể: không thể chỉ đổi mới riêng lẻ nội dung hoặc phương pháp, mà phải thay đổi toàn bộ cả hai điều ấy. Đó là sự kế thừa của một người có tư duy làm khoa học và ông trong buổi sinh hoạt, cũng cho rằng phát hiện của mình không hề mới mẻ.</p>
                            <p>Từ ý tưởng đến việc nghiên cứu tạo ra lý thuyết và áp dụng vào thực tế cuộc sống, chàng nghiên cứu sinh năm ấy chắc hẳn đã lường trước con đường sắp tới là hành trình tới cả đời người. Trước những thành công bước đầu khi thử nghiệm tại Liên Xô, ông đã tự tin hơn khi mang công nghệ giáo dục của mình trở về nước.</p>
                            <p>Cũng chẳng mấy ai ngờ, sau hành trình 40 năm đưa chương trình “công nghệ giáo dục” vào giảng dạy tại Việt Nam, nó vẫn gây xôn xao dư luận và mang tính chất thời sự y như một cuộc thử nghiệm đột phá quá mới mẻ.</p>
                            <p>Chỉ biết rằng, trong suốt hành trình ấy, ông đã biến khoa học (giáo dục) khi còn là sự trừu tượng trở nên hoàn toàn cụ thể thông qua “công nghệ giáo dục” và mang lại những trải nghiệm vui thích cho trẻ em với triết lý giáo dục đầy tính nhân văn của mình.</p>
                            <p><b>Triết lý giáo dục vì trẻ em</b></p>
                            <p>“Từng giây phút của trẻ em là rất đáng quý”, GS. Hồ Ngọc Đại nhiều lần nhắc lại quan điểm này trong buổi sinh hoạt.</p>
                            <p>Nhớ lại những ngày đầu mở trường thực nghiệm ở cấp độ tiểu học, ngày nào ông Hồ Ngọc Đại cũng tìm gặp phụ huynh với những câu hỏi quen thuộc: “Các con ông/bà, anh/chị đi học về có vui không? Có hạnh phúc không?&#8221;. Chỉ cần câu trả lời các em vui thích là ông đã coi như mình đạt được mục đích.</p>
                            <p>Nhận định trẻ em là “sản phẩm” của thời đại, GS. Hồ Ngọc Đại bắt đầu phân tích về những thay đổi quan trọng khi bước sang thế kỷ 21 mà ông nhận định là “có những cái chưa hề có nên phải có nền giáo dục chưa hề có”.</p>
                            <p>“Từ thế kỷ thứ 20 trở về trước, tất cả thế hệ đều thay nhau nối tiếp, ông có gì bố có nấy, bố có gì con có nấy, cứ thể noi gương nhau, học tập kinh nghiệm. Nhưng từ thế kỷ 21, trẻ em có những thứ mà cha mẹ chúng không hề có và không hề hiểu được.” – GS. Hồ Ngọc Đại cho biết.</p>
                            <p>Ông cũng lấy dẫn chứng về &#8220;giá trị vật chất&#8221; mới của mỗi cuộc cách mạng công nghệ mang lại: “cuộc cách mạng 1.0 sức mạnh nó là hơi nước, 2.0 là hơi nổ, 3.0 là máy tính và đến cuộc cách mạng 4.0 là cuộc cách mạng hiện nay là “máy nghĩ”, hay còn gọi là trí tuệ nhân tạo.”</p>
                            <p>“Do đó, điều mà tôi mong muốn là tạo nên nền giáo dục hiện đại phải là những thứ nền giáo dục cũ chưa hề có. Nền giáo dục hiện đại của tôi sẽ không theo gương ai hết, để mỗi người trở thành chính nó, xứng đáng với chính nó, không phỏng theo ai được. Nền giáo dục đầy ảo tưởng sẽ làm khổ rất nhiều người” &#8211; GS. Hồ Ngọc Đại nhấn mạnh.</p>
                            <p>&#8220;Tôi là người có ý thức về xây dựng một nền giáo dục và sứ mệnh của tôi là tạo ra nền giáo dục chưa hề có trong lịch sử. Không bác bỏ quá khứ, tận dụng quá khứ nhưng nên được hưởng những cái mới. Lý thuyết nào sinh ra cũng có công nghệ thực thi và tôi có công nghệ giáo dục. Đây là thiết kế rất khó nhưng ai cũng phải làm được, cho nên trẻ con học với chúng tôi nó khác hẳn. Ngày xưa tôi về nước, có người đã nói với tôi thành công thì nguyệt quế trên đầu, còn thất bại thì hai vai già này gánh” &#8211; ông Đại cho hay.</p>
                            <p>Dường như để trải hết tấm lòng, GS. Hồ Ngọc Đại khẳng định: “Người lớn không nên, không được phép lấy mình làm khuôn mẫu cho trẻ con. Để cho trẻ con nó sống hồn nhiên, nó sống như nó cần phải sống.”</p>
                            <p>Bên cạnh quan điểm và tình cảm dành cho trẻ em, GS. Hồ Ngọc Đại cũng tỏ ra cương quyết bảo vệ cách thức triển khai công nghệ giáo dục của mình, một phần được thể hiện qua cuốn sách “<em>Tiếng Việt lớp 1 Công nghệ Giáo dục</em><em>” </em>do ông làm chủ biên.</p>
                            <p><b>Cuốn sách để lại cho đời</b></p>
                            <p>Có lẽ, trong suốt nhiều năm qua, bản thân GS. Hồ Ngọc Đại cũng đã trải qua nhiều hội nghị, hội thảo “nội bộ” ngành hay những buổi làm việc với Bộ Giáo dục xoay quanh “công nghệ giáo dục” nên khi có cơ hội được trao đổi trực tiếp giới truyền thông và xã hội, ông cũng lý giải nhiều điểm mang tính chuyên môn chưa được làm rõ.</p>
                            <p>Đề cập tới việc áp dụng lý thuyết vào thực tế giáo dục tại Việt Nam hiện nay, GS. Hồ Ngọc Đại cho rằng những hoạt động của giới nghiên cứu khoa học trong lĩnh vực giáo dục mới chỉ dừng ở mức thi cử nội bộ, là “trò chơi chữ” với nhau, chưa chắc đã thực hiện được trong thực tế.</p>
                            <p>“Tiếng nói là tiếng nói hàng ngày, thông thường, chứ đâu phải định danh quy ước với nhau. Khi 100% dân số đi học, ngôn ngữ ấy là ngôn ngữ hàng ngày chứ không phải trong sách vở.” – GS. Đại nhấn mạnh.</p>
                            <p>Dựa trên nguyên tắc “muốn học cái gì thì phải tự tay làm cái đấy”, GS. Đại chia sẻ thêm về phương pháp giáo dục của mình. Trong đó, học sinh đóng vai trò là người làm việc, giáo viên chỉ giao việc (nhiệm vụ) và quan sát, hướng dẫn. Khi đánh giá kết quả của các em, giáo viên cũng phải khéo léo nắm bắt được tâm lý và sử dụng ngôn từ phù hợp.</p>
                            <p>Phương pháp này khác biệt với cách dạy học truyền thống là thầy (cô) giảng bài, học trò chỉ cần thụ động ghi nhớ.</p>
                            <p>Cách tiếp cận trong cuốn “Tiếng Việt lớp 1 Công nghệ giáo dục” cũng có nhiều điểm khác biệt khi học sinh ban đầu chỉ học về tiếng thay vì học chữ như sách truyền thống, sau đó mới tiếp cận các kiến thức về ngữ âm học, chính tả.</p>
                            <p>Trong phần trả lời phóng viên, GS. Đại cũng nhấn mạnh tầm quan trọng của việc phân biệt giữa “vật thật” và “vật thay thế” trong giảng dạy. Theo ông, tiếng nói là vật thật, chữ là vật thay thế (quy ước) vì thế có thể thay đổi được bằng các trò chơi, hình vẽ quy ước (như đã được thể hiện trong bộ sách).</p>
                            <p>Tự tin với kết quả đã triển khai trong suốt nhiều năm qua, ông cho biết hiện nay có đến “800.000 em học sinh ở 50 tỉnh thành theo học” và rằng “mấy chục năm nay bao nhiêu người ghét tôi và chương trình của tôi, nhưng có làm được gì đâu. Trường Thực nghiệm vẫn còn đó”.</p>
                            <p>&#8220;Học sinh ở bất cứ vùng miền nào nước ta, dù đến trường hay không, khi học sách của tôi hết lớp 1 có thể đọc thông viết thạo, viết đúng chính tả và không bị tái mù&#8221; &#8211; GS. Đại khẳng định khi nói về chất lượng giảng dạy trong cuốn sách.</p>
                            <p>“Công trình của tôi có vô nghĩa đi nữa thì quyển Tiếng Việt 1 Công nghệ giáo dục cũng an ủi tôi bởi vì ở trong đó thể hiện được những tư tưởng về lý thuyết khoa học, tâm lý học, triết học và cuộc sống” &#8211; có lẽ vị giáo sư già phần nào hiểu được những mối nghi ngờ liên quan đến phương pháp của mình.</p>
                            <p>Vì dù sao, những điều thân thuộc với ông bao nhiêu năm qua đang là những thách thức quá mới mẻ đối với đại đa số các bậc phụ huynh. Trong bộ sách của mình, ông Đại cũng lý giải câu hỏi thường được nhắc đến về việc chưa được nhiều người biết đến, chưa mấy ai tin và còn ít người theo (!?), đơn giản chỉ bởi vì họ &#8220;chưa hiểu thì chưa tin&#8221;.</p>
                            <p>Bên cạnh đó, ông cũng chịu trách nhiệm với nội dung trong cuốn sách <em>Tiếng Việt 1 Công nghệ giáo dục</em>, dù rằng đó không chỉ là riêng kết quả lao động của ông: “Sách do tôi ký tên nhưng đó là công sức của hàng trăm, hàng nghìn người. Tôi ký tên để tôi chịu trách nhiệm”.</p>
                            <p>Có lẽ, dù gặp khó khăn trắc trở đến vậy, &#8220;công nghệ giáo dục&#8221; vẫn tồn tại và phát triển thì hẳn nhiên nó phải có sức sống riêng, không có gì chứng minh tốt hơn chính là sự sống, sự tồn tại và nảy nở của nó suốt 40 năm qua và có thể là nhiều năm sau nữa.</p>
                            <p>Chỉ biết rằng, vị giáo sư già nay cũng đã ngoài 80 tuổi nhưng vẫn còn đầy nhiệt huyết như chàng trai trẻ khi mới bước chân về Việt Nam để làm những điều chưa ai dám làm, chưa ai dám nghĩ tới tại quê hương mình./.</p>
                            <div class="row" id="row-292011261">
                                <div class="col medium-1/1 large-12">
                                    <div class="col-inner">
                                        <h3></h3>
                                    </div>
                                </div>
                            </div>
                            <section class="section dark" id="section_801580239">
                                <div class="bg section-bg fill bg-fill  bg-loaded">





                                </div><!-- .section-bg -->

                                <div class="section-content relative">

                                    <p>Cùng ngày 8/9/2018, Thứ trưởng Giáo dục và Đào tạo Nguyễn Hữu Độ đã lên tiếng giải thích lý do Bộ Giáo dục cho áp dụng tài liệu này.</p>
                                    <p>Theo ông, trong giai đoạn từ năm 2017-2018, Bộ Giáo dục tổ chức Hội đồng thẩm định quốc gia tài liệu <em>Tiếng Việt lớp 1 Công nghệ giáo dục</em>. Hai vòng thẩm định đều cho đánh giá chung là tài liệu cơ bản đảm bảo các yêu cầu về mục tiêu, chuẩn kiến thức kỹ năng của môn <em>Tiếng Việt lớp 1</em> trong Chương trình giáo dục phổ thông tiểu học.</p>
                                    <p>Trước đó, từ cuối năm 2016, Bộ trưởng Giáo dục giao cho Viện Khoa học Giáo dục Việt Nam nghiên cứu, đánh giá hiệu quả triển khai tài liệu Tiếng Việt lớp 1 Công nghệ giáo dục và đề xuất giải pháp. &#8220;Viện đánh giá việc áp dụng tài liệu ở các địa phương đạt được hiệu quả khả quan, thông qua kết quả giáo dục học sinh, năng lực chuyên môn của giáo viên&#8230;&#8221;, ông Độ cho biết chi tiết hơn.</p>
                                    <p>Từ đánh giá của Viện Khoa học Giáo dục Việt Nam và Hội đồng thẩm định quốc gia, Bộ đã hướng dẫn Sở Giáo dục các tỉnh triển khai tài liệu Tiếng Việt lớp 1 Công nghệ giáo dục phù hợp với điều kiện cụ thể của địa phương, trên nguyên tắc tự nguyện của nhà trường trong năm học 2017-2018 và 2018-2019.</p>
                                    <p>Sách Tiếng Việt 1 Công nghệ giáo dục được coi là một trong những phương án, để các địa phương lựa chọn nhằm nâng cao chất lượng dạy học môn Tiếng Việt lớp 1 trong chương trình giáo dục phổ thông, nhất là với những học sinh vùng khó khăn.</p>
                                    <p>Tuy nhiên, chủ trương của Bộ là “không mở rộng để giữ ổn định” cho tới khi chương trình giáo dục phổ thông mới được thực hiện.</p>
                                    <p>Cụ thể, từ năm học 2019 – 2020, Bộ giáo dục sẽ áp dụng chương trình giáo dục phổ thông mới với chủ trương “một chương trình nhiều sách giáo khoa”, tất cả các tài liệu dạy học được đưa vào nhà trường với tư cách sách giáo khoa đều phải được Hội đồng quốc gia thẩm định./.</p>
                                </div><!-- .section-content -->


                                <style scope="scope">

                                    #section_801580239 {
                                        padding-top: 30px;
                                        padding-bottom: 30px;
                                    }
                                </style>
                            </section>



                            <div class="blog-share text-center"><div class="is-divider medium"></div><div class="social-icons share-icons share-row relative icon-style-outline "><a href="whatsapp://send?text=VietTimes%3A%20C%C3%B4ng%20ngh%E1%BB%87%20gi%C3%A1o%20d%E1%BB%A5c%20v%C3%A0%20nh%E1%BB%AFng%20%C4%91i%E1%BB%81u%20%E2%80%9Cl%E1%BA%A1%20l%C3%B9ng%E2%80%9D%20c%E1%BB%A7a%20GS.%20H%E1%BB%93%20Ng%E1%BB%8Dc%20%C4%90%E1%BA%A1i - http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" data-action="share/whatsapp/share" class="icon button circle is-outline tooltip whatsapp show-for-medium" title="Share on WhatsApp"><i class="icon-phone"></i></a><a href="//www.facebook.com/sharer.php?u=http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" data-label="Facebook" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip facebook" title="Share on Facebook"><i class="icon-facebook"></i></a><a href="//twitter.com/share?url=http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip twitter" title="Share on Twitter"><i class="icon-twitter"></i></a><a href="mailto:enteryour@addresshere.com?subject=VietTimes%3A%20C%C3%B4ng%20ngh%E1%BB%87%20gi%C3%A1o%20d%E1%BB%A5c%20v%C3%A0%20nh%E1%BB%AFng%20%C4%91i%E1%BB%81u%20%E2%80%9Cl%E1%BA%A1%20l%C3%B9ng%E2%80%9D%20c%E1%BB%A7a%20GS.%20H%E1%BB%93%20Ng%E1%BB%8Dc%20%C4%90%E1%BA%A1i&amp;body=Check%20this%20out:%20http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" rel="nofollow" class="icon button circle is-outline tooltip email" title="Email to a Friend"><i class="icon-envelop"></i></a><a href="//pinterest.com/pin/create/button/?url=http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/&amp;media=http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg&amp;description=VietTimes%3A%20C%C3%B4ng%20ngh%E1%BB%87%20gi%C3%A1o%20d%E1%BB%A5c%20v%C3%A0%20nh%E1%BB%AFng%20%C4%91i%E1%BB%81u%20%E2%80%9Cl%E1%BA%A1%20l%C3%B9ng%E2%80%9D%20c%E1%BB%A7a%20GS.%20H%E1%BB%93%20Ng%E1%BB%8Dc%20%C4%90%E1%BA%A1i" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip pinterest" title="Pin on Pinterest"><i class="icon-pinterest"></i></a><a href="//plus.google.com/share?url=http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" target="_blank" class="icon button circle is-outline tooltip google-plus" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" title="Share on Google+"><i class="icon-google-plus"></i></a><a href="//www.linkedin.com/shareArticle?mini=true&url=http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/&title=VietTimes%3A%20C%C3%B4ng%20ngh%E1%BB%87%20gi%C3%A1o%20d%E1%BB%A5c%20v%C3%A0%20nh%E1%BB%AFng%20%C4%91i%E1%BB%81u%20%E2%80%9Cl%E1%BA%A1%20l%C3%B9ng%E2%80%9D%20c%E1%BB%A7a%20GS.%20H%E1%BB%93%20Ng%E1%BB%8Dc%20%C4%90%E1%BA%A1i" onclick="window.open(this.href,this.title,'width=500,height=500,top=300px,left=300px');  return false;" rel="noopener noreferrer nofollow" target="_blank" class="icon button circle is-outline tooltip linkedin" title="Share on LinkedIn"><i class="icon-linkedin"></i></a></div></div>
                        </div><!-- .entry-content2 -->
         
                    </div><!-- .article-inner -->
                </article><!-- #-574 -->


               
            </div> <!-- .large-9 -->

        </div><!-- .row -->

    </div><!-- #content .page-wrapper -->


</main><!-- #main -->
