
@{
    ViewBag.Title = "Good";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<main id="main" class="">
    <div id="content" class="blog-wrapper blog-archive page-wrapper">
        <header class="archive-page-header">
            <div class="row">
                <div class="large-12 text-center col">
                    <h1 class="page-title is-large uppercase">
                        Category Archives: <span>Bài viết hay</span>
                    </h1>
                </div>
            </div>
        </header><!-- .page-header -->

        <div class="row row-large row-divided ">

            <div class="large-9 col">
                <div id="post-list">

                    <article id="post-574" class="post-574 post type-post status-publish format-standard has-post-thumbnail hentry category-bai-viet-hay">
                        <div class="article-inner ">
                            <header class="entry-header">
                                <div class="entry-header-text entry-header-text-top text-center">
                                    <h6 class="entry-category is-xsmall">
                                        <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                    </h6>
                                    <h2 class="entry-title"><a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" rel="bookmark" class="plain">VietTimes: Công nghệ giáo dục và những điều “lạ lùng” của GS. Hồ Ngọc Đại</a></h2>
                                    <div class="entry-divider is-divider small"></div>
                                    <div class="entry-meta uppercase is-xsmall">
                                        <span class="posted-on">Posted on <a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" rel="bookmark"><time class="entry-date published" datetime="2018-09-09T13:50:56+00:00">9 September, 2018</time><time class="updated" datetime="2018-09-14T02:11:49+00:00">14 September, 2018</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="http://clbcafeso.vn/author/admin/">admin</a></span></span>
                                    </div><!-- .entry-meta -->
                                </div><!-- .entry-header -->
                                <div class="entry-image relative">
                                    <a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/">
                                        <img width="666" height="374" src="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt.jpg 666w, http://clbcafeso.vn/wp-content/uploads/2018/09/vt_img_1824_xryt-600x337.jpg 600w" sizes="(max-width: 666px) 100vw, 666px" />
                                    </a>
                                    <div class="badge absolute top post-date badge-outline">
                                        <div class="badge-inner">
                                            <span class="post-date-day">09</span><br>
                                            <span class="post-date-month is-small">Sep</span>
                                        </div>
                                    </div>
                                </div><!-- .entry-image -->
                            </header><!-- post-header -->
                            <div class="entry-content">
                                <div class="entry-summary">
                                    <p>
                                        Trong buổi sinh hoạt chuyên đề thường kỳ tháng 9 của Câu lạc bộ Cafe Số, diễn ra ngày 8/9/2018 với chủ đề: “Công nghệ giáo dục trong kỷ nguyên 4.0”, GS. Hồ Ngọc Đại chủ biên cuốn sách Tiếng Việt lớp 1 Công nghệ Giáo dục gây xôn xao dư luận đã có những đối thoại [&#8230;]
                                        <div class="text-center">
                                            <a class="more-link button primary is-outline is-smaller" href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/">Continue reading <span class="meta-nav">&rarr;</span></a>
                                        </div>
                                </div><!-- .entry-summary -->

                            </div><!-- .entry-content -->		<footer class="entry-meta clearfix">
                                <span class="cat-links">
                                    Posted in <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                </span>

                                <span class="comments-link pull-right"><a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/#respond">Leave a comment</a></span>
                            </footer><!-- .entry-meta -->
                        </div><!-- .article-inner -->
                    </article><!-- #-574 -->

                    <article id="post-581" class="post-581 post type-post status-publish format-standard has-post-thumbnail hentry category-bai-viet-hay">
                        <div class="article-inner ">
                            <header class="entry-header">
                                <div class="entry-header-text entry-header-text-top text-center">
                                    <h6 class="entry-category is-xsmall">
                                        <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                    </h6>
                                    <h2 class="entry-title"><a href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/" rel="bookmark" class="plain">VnExpress: GS Hồ Ngọc Đại: Áp đặt tư tưởng của người lớn cho học sinh là lỗi thời</a></h2>
                                    <div class="entry-divider is-divider small"></div>
                                    <div class="entry-meta uppercase is-xsmall">
                                        <span class="posted-on">Posted on <a href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/" rel="bookmark"><time class="entry-date published" datetime="2018-09-08T19:07:20+00:00">8 September, 2018</time><time class="updated" datetime="2018-09-14T02:11:09+00:00">14 September, 2018</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="http://clbcafeso.vn/author/admin/">admin</a></span></span>
                                    </div><!-- .entry-meta -->
                                </div><!-- .entry-header -->
                                <div class="entry-image relative">
                                    <a href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/">
                                        <img width="500" height="333" src="http://clbcafeso.vn/wp-content/uploads/2018/09/GS-Ho-Ngoc-Dai-8095-1536402813.jpg" class="attachment-large size-large wp-post-image" alt="" />
                                    </a>
                                    <div class="badge absolute top post-date badge-outline">
                                        <div class="badge-inner">
                                            <span class="post-date-day">08</span><br>
                                            <span class="post-date-month is-small">Sep</span>
                                        </div>
                                    </div>
                                </div><!-- .entry-image -->
                            </header><!-- post-header -->
                            <div class="entry-content">
                                <div class="entry-summary">
                                    <p>
                                        Ngày 8/9, tại Hà Nội, GS Hồ Ngọc Đại, chủ biên Tiếng Việt lớp 1 Công nghệ Giáo dục gây xôn xao dư luận vì cách đánh vần lạ, đã chia sẻ về cuốn sách. Cuốn sách tâm huyết nhất GS Đại cho biết đã viết lại bản thảo Tiếng Việt lớp 1 và có sự đóng góp của [&#8230;]
                                        <div class="text-center">
                                            <a class="more-link button primary is-outline is-smaller" href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/">Continue reading <span class="meta-nav">&rarr;</span></a>
                                        </div>
                                </div><!-- .entry-summary -->

                            </div><!-- .entry-content -->		<footer class="entry-meta clearfix">
                                <span class="cat-links">
                                    Posted in <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                </span>

                                <span class="comments-link pull-right"><a href="http://clbcafeso.vn/2018/09/08/vnexpress-gs-ho-ngoc-dai-ap-dat-tu-tuong-cua-nguoi-lon-cho-hoc-sinh-la-loi-thoi/#respond">Leave a comment</a></span>
                            </footer><!-- .entry-meta -->
                        </div><!-- .article-inner -->
                    </article><!-- #-581 -->

                    <article id="post-438" class="post-438 post type-post status-publish format-standard has-post-thumbnail hentry category-bai-viet-hay">
                        <div class="article-inner ">
                            <header class="entry-header">
                                <div class="entry-header-text entry-header-text-top text-center">
                                    <h6 class="entry-category is-xsmall">
                                        <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                    </h6>
                                    <h2 class="entry-title"><a href="http://clbcafeso.vn/2018/07/19/nhan-vat-quyen-luc-thu-3-facebook-noi-gi-tai-hoi-thao-an-ninh-mang-cua-viet-nam/" rel="bookmark" class="plain">Nhân vật quyền lực thứ 3 Facebook nói gì tại hội thảo An ninh mạng của Việt Nam?</a></h2>
                                    <div class="entry-divider is-divider small"></div>
                                    <div class="entry-meta uppercase is-xsmall">
                                        <span class="posted-on">Posted on <a href="http://clbcafeso.vn/2018/07/19/nhan-vat-quyen-luc-thu-3-facebook-noi-gi-tai-hoi-thao-an-ninh-mang-cua-viet-nam/" rel="bookmark"><time class="entry-date published updated" datetime="2018-07-19T04:22:07+00:00">19 July, 2018</time></a></span><span class="byline"> by <span class="meta-author vcard"><a class="url fn n" href="http://clbcafeso.vn/author/admin/">admin</a></span></span>
                                    </div><!-- .entry-meta -->
                                </div><!-- .entry-header -->
                                <div class="entry-image relative">
                                    <a href="http://clbcafeso.vn/2018/07/19/nhan-vat-quyen-luc-thu-3-facebook-noi-gi-tai-hoi-thao-an-ninh-mang-cua-viet-nam/">
                                        <img width="800" height="593" src="http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK.jpg 800w, http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK-540x400.jpg 540w, http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK-768x569.jpg 768w, http://clbcafeso.vn/wp-content/uploads/2018/07/cong_nghe_ZMEK-600x445.jpg 600w" sizes="(max-width: 800px) 100vw, 800px" />
                                    </a>
                                    <div class="badge absolute top post-date badge-outline">
                                        <div class="badge-inner">
                                            <span class="post-date-day">19</span><br>
                                            <span class="post-date-month is-small">Jul</span>
                                        </div>
                                    </div>
                                </div><!-- .entry-image -->
                            </header><!-- post-header -->
                            <div class="entry-content">
                                <div class="entry-summary">
                                    <p>
                                        Hôm nay, (29/3), Giám đốc bảo mật của Facebook, Nathaniel Gleicher đã đến Việt Nam tham dự sự kiện “Kinh tế số và Chính sách an ninh mạng”. Ngoài chia sẻ kinh nghiệm, ông N.Gleicher còn nêu ra 4 yếu tố cần thiết để xây dựng chính sách bảo mật thông tin tại Việt Nam. [&#8230;]
                                        <div class="text-center">
                                            <a class="more-link button primary is-outline is-smaller" href="http://clbcafeso.vn/2018/07/19/nhan-vat-quyen-luc-thu-3-facebook-noi-gi-tai-hoi-thao-an-ninh-mang-cua-viet-nam/">Continue reading <span class="meta-nav">&rarr;</span></a>
                                        </div>
                                </div><!-- .entry-summary -->

                            </div><!-- .entry-content -->		<footer class="entry-meta clearfix">
                                <span class="cat-links">
                                    Posted in <a href="http://clbcafeso.vn/category/bai-viet-hay/" rel="category tag">Bài viết hay</a>
                                </span>

                                <span class="comments-link pull-right"><a href="http://clbcafeso.vn/2018/07/19/nhan-vat-quyen-luc-thu-3-facebook-noi-gi-tai-hoi-thao-an-ninh-mang-cua-viet-nam/#respond">Leave a comment</a></span>
                            </footer><!-- .entry-meta -->
                        </div><!-- .article-inner -->
                    </article><!-- #-438 -->

                </div>
            </div> <!-- .large-9 -->
            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="flatsome_recent_posts-17" class="widget flatsome_recent_posts">
                        <span class="widget-title "><span>Latest Posts</span></span><div class="is-divider small"></div>		<ul>

                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">13</span><br>
                                                <span class="post-date-month is-xsmall">Feb</span>
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="http://clbcafeso.vn/2019/02/13/sinh-hoat-chuyen-de-thang-2-2019/" title="Sinh hoạt chuyên đề tháng 2/2019">Sinh hoạt chuyên đề tháng 2/2019</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="http://clbcafeso.vn/2019/02/13/sinh-hoat-chuyen-de-thang-2-2019/#respond"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">02</span><br>
                                                <span class="post-date-month is-xsmall">Oct</span>
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="http://clbcafeso.vn/2018/10/02/chuyen-de-thang-10-nhat-the-hoa-bo-may-co-hoi-va-thach-thuc-trong-tien-trinh-doi-moi-the-che-chinh-tri-o-viet-nam/" title="Chuyên đề tháng 10: “Nhất thể hóa bộ máy: cơ hội và thách thức trong tiến trình đổi mới thể chế chính trị ở Việt Nam”">Chuyên đề tháng 10: “Nhất thể hóa bộ máy: cơ hội và thách thức trong tiến trình đổi mới thể chế chính trị ở Việt Nam”</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="http://clbcafeso.vn/2018/10/02/chuyen-de-thang-10-nhat-the-hoa-bo-may-co-hoi-va-thach-thuc-trong-tien-trinh-doi-moi-the-che-chinh-tri-o-viet-nam/#respond"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">14</span><br>
                                                <span class="post-date-month is-xsmall">Sep</span>
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="http://clbcafeso.vn/2018/09/14/mot-so-bai-bao-sau-buoi-thuyet-trinh-ngay-8-9/" title="Một số bài báo sau buổi trao đổi thường kỳ của CLB Cafe Số ngày 8/9">Một số bài báo sau buổi trao đổi thường kỳ của CLB Cafe Số ngày 8/9</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="http://clbcafeso.vn/2018/09/14/mot-so-bai-bao-sau-buoi-thuyet-trinh-ngay-8-9/#respond"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">14</span><br>
                                                <span class="post-date-month is-xsmall">Sep</span>
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="http://clbcafeso.vn/2018/09/14/thong-bao-moi-tham-du-buoi-trao-doi-xung-quanh-chu-de-chuong-trinh-giao-duc-pho-thong-moi-co-gi-moi/" title="Thông báo: Mời tham dự buổi trao đổi xung quanh chủ đề “Chương trình giáo dục phổ thông mới có gì mới?”">Thông báo: Mời tham dự buổi trao đổi xung quanh chủ đề “Chương trình giáo dục phổ thông mới có gì mới?”</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="http://clbcafeso.vn/2018/09/14/thong-bao-moi-tham-du-buoi-trao-doi-xung-quanh-chu-de-chuong-trinh-giao-duc-pho-thong-moi-co-gi-moi/#respond"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>


                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-outline">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">09</span><br>
                                                <span class="post-date-month is-xsmall">Sep</span>
                                            </div>
                                        </div>
                                    </div><!-- .flex-col -->
                                    <div class="flex-col flex-grow">
                                        <a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/" title="VietTimes: Công nghệ giáo dục và những điều “lạ lùng” của GS. Hồ Ngọc Đại">VietTimes: Công nghệ giáo dục và những điều “lạ lùng” của GS. Hồ Ngọc Đại</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="http://clbcafeso.vn/2018/09/09/cong-nghe-giao-duc-va-nhung-dieu-la-lung-cua-gs-ho-ngoc-dai/#respond"></a></span>
                                    </div>
                                </div><!-- .flex-row -->
                            </li>
                        </ul>
                    </aside><aside id="recent-comments-5" class="widget widget_recent_comments"><span class="widget-title "><span>Recent Comments</span></span><div class="is-divider small"></div><ul id="recentcomments"></ul></aside><aside id="tag_cloud-9" class="widget widget_tag_cloud">
                        <span class="widget-title "><span>Tag Cloud</span></span><div class="is-divider small"></div><div class="tagcloud">
                            <a href="http://clbcafeso.vn/tag/giao-su-ho-ngoc-dai/" class="tag-cloud-link tag-link-74 tag-link-position-1" style="font-size: 8pt;" aria-label="giáo sư hồ ngọc đại (1 item)">giáo sư hồ ngọc đại</a>
                            <a href="http://clbcafeso.vn/tag/ho-ngoc-dai/" class="tag-cloud-link tag-link-72 tag-link-position-2" style="font-size: 8pt;" aria-label="Hồ Ngọc Đại (1 item)">Hồ Ngọc Đại</a>
                            <a href="http://clbcafeso.vn/tag/thuc-nghiem/" class="tag-cloud-link tag-link-73 tag-link-position-3" style="font-size: 8pt;" aria-label="thực nghiệm (1 item)">thực nghiệm</a>
                        </div>
                    </aside><aside id="categories-14" class="widget widget_categories">
                        <span class="widget-title "><span>Categories</span></span><div class="is-divider small"></div>		<ul>
                            <li class="cat-item cat-item-1">
                                <a href="http://clbcafeso.vn/category/bai-viet/">Bài viết</a> (3)
                            </li>
                            <li class="cat-item cat-item-71 current-cat">
                                <a href="http://clbcafeso.vn/category/bai-viet-hay/">Bài viết hay</a> (3)
                            </li>
                            <li class="cat-item cat-item-69">
                                <a href="http://clbcafeso.vn/category/tin-ve-clb/">Tin về CLB</a> (5)
                            </li>
                        </ul>
                    </aside>
                </div><!-- #secondary -->
            </div><!-- .post-sidebar -->
        </div><!-- .row -->
    </div><!-- .page-wrapper .blog-wrapper -->

</main><!-- #main -->
