

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main id="main" class="" ng-controller="NewsController">

    <div id="content" role="main" class="content-area">
        <section class="section" id="section_2067839399">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->
            <div class="section-content relative">

                <div class="container section-title-container"><h3 class="section-title section-title-center"><b></b><span class="section-title-main">TIN HOẠT ĐỘNG</span><b></b></h3></div><!-- .section-title -->

                <div class="row large-columns-3 medium-columns- small-columns-1 slider row-slider slider-nav-reveal slider-nav-push" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                    <div class="col post-item" ng-repeat="item in listNews">
                        <div class="col-inner">
                            <a href="#detail" data-toggle="modal" class="plain" ng-click="viewInfo(item.NewsId)">
                                @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56.25%;">
                                            <img width="711" height="400" ng-src="{{'/Assets/images/'+item.UrlRepresent | filterUrlImg}}" class="attachment-medium size-medium wp-post-image" alt="" />
                                        </div>
                                    </div><!-- .box-image -->
                                    <div class="box-text text-center">
                                        <div class="box-text-inner blog-post-inner">

                                            <h5 class="post-title is-large " ng-bind="item.Title">Sinh hoạt chuyên đề tháng 2/2019</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt " ng-bind="item.shortContent">Câu lạc bộ Cafe Số trân trọng kính mời quý anh/chị Nhà báo, Phóng viên [...]					</p>



                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                    <div class="badge absolute top post-date badge-outline">
                                        <div class="badge-inner">
                                            <span class="post-date-day">13</span><br>
                                            <span class="post-date-month is-xsmall">Feb</span>
                                        </div>
                                    </div>
                                </div><!-- .box -->
                            </a>
                        </div><!-- .col-inner -->
                    </div><!-- .col -->

                </div>
                <div class="container section-title-container"><h3 class="section-title section-title-center"><b></b><span class="section-title-main">BÀI VIẾT HAY</span><b></b></h3></div><!-- .section-title -->

                <div class="row large-columns-3 medium-columns- small-columns-1 slider row-slider slider-nav-reveal" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>
                    <div class="col post-item" ng-repeat="item in newsGood">
                        <div class="col-inner">
                            <a href="http://clbcafeso.vn/2019/02/13/sinh-hoat-chuyen-de-thang-2-2019/" class="plain">
                                <div class="box box-push box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:75%;">
                                            <img width="711" height="400" ng-src="{{item.imgUrl}}" class="attachment-medium size-medium wp-post-image" alt="" />
                                        </div>
                                    </div><!-- .box-image -->
                                    <div class="box-text text-center">
                                        <div class="box-text-inner blog-post-inner">

                                            <h5 class="post-title is-large " ng-bind="item.title"></h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt " ng-bind="item.content"></p>



                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                    <div class="badge absolute top post-date badge-circle-inside">
                                        <div class="badge-inner">
                                            <span class="post-date-day">13</span><br>
                                            <span class="post-date-month is-xsmall">Feb</span>
                                        </div>
                                    </div>
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div><!-- .col -->
                </div>
            </div><!-- .section-content -->
        </section>



    </div>
    <!-- Modal -->
    <!-- Modal --> 
    <!-- Modal -->
    <div class="modal fade" id="detail" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6>Tin về CLB</h6>
                    <h4 class="modal-title" ng-bind="info.Title"></h4>
                    <small ng-bind="info.CreateDate"></small>
                </div>
                <div class="modal-body">
                    <div class="img-profile text-center" style="margin-bottom: 20px;">
                        <img class="img-thumbnail" ng-src="{{'/Assets/images/'+info.UrlRepresent | filterUrlImg}}" alt="" />
                    </div>
                    <div class="content">
                        <p ng-bind="info.Content"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</main><!-- #main -->
<script src="~/Scripts/app/angular/news/news.controller.js"></script>
<script src="~/Scripts/app/angular/news/news.service.js"></script>
<script src="~/Scripts/app/angular/news/news.filter.js"></script>
