
@{
    ViewBag.Title = "CLB";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}

<main id="main" class="" ng-controller="UsersController">

    <div id="content" role="main" class="content-area">


        <div class="banner has-hover has-parallax" id="banner-395208758">
            <div class="banner-inner fill">
                <div class="banner-bg fill" data-parallax="-2" data-parallax-container=".banner" data-parallax-background>
                    <div class="bg fill bg-fill "></div>
                    <div class="overlay"></div>
                </div><!-- bg-layers -->
                <div class="banner-layers container">
                    <div class="fill banner-link"></div>
                    <div id="text-box-833772746" class="text-box banner-layer x50 md-x50 lg-x50 y50 md-y50 lg-y50 res-text">
                        <div class="text ">

                            <div class="text-inner text-center">

                                <h3 style="color: #fff" class="uppercase"><strong>thành viên câu lạc bộ</strong></h3>
                                <p> </p>
                                <div class="is-divider divider clearfix" style="max-width:67px;height:5px;"></div><!-- .divider -->
                            </div>
                        </div><!-- text-box-inner -->
                    </div><!-- text-box -->

                </div><!-- .banner-layers -->
            </div><!-- .banner-inner -->

            <style scope="scope">


                #banner-395208758 {
                    padding-top: 200px;
                }
            </style>
        </div><!-- .banner -->

        <div class="container section-title-container"><h2 class="section-title section-title-center"><b></b><span class="section-title-main">BAN CHỦ NHIỆM</span><b></b></h2></div><!-- .section-title -->
        <div class="text-center"><div class="is-divider divider clearfix"></div></div><!-- .divider -->
        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix"></div>
        <div class="row align-center" id="row-2004659920">
            <div class="col medium-3 small-8 large-3" ng-repeat="item in members">
                <div class="col-inner">
                    <div class="box has-hover has-hover box-text-bottom">
                        <div class="box-image " style="width:80%;">
                            <div class="box-image-inner image-cover" style="border-radius:100%;padding-top:100%;">
                                <img width="1315" height="1320"
                                     ng-src="{{item.urlImg}}"
                                     class="attachment- size-" alt="" />
                            </div>
                        </div><!-- box-image -->
                        <div class="box-text text-center">
                            <div class="box-text-inner">
                                <h4 class="uppercase">
                                    <span class="person-name" ng-bind="item.name">NHÀ BÁO LÊ THỌ BÌNH</span><br />
                                    <span class="person-title is-small thin-font op-7" ng-bind="item.position">
                                        Chủ nhiệm CLB
                                    </span>
                                </h4>
                                <div class="social-icons follow-icons ">
                                    <a href="x" target="_blank" data-label="Facebook"
                                       rel="noopener noreferrer nofollow" class="icon plain facebook tooltip"
                                       title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="x" target="_blank"
                                                                                                      data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip"
                                                                                                      title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:x" data-label="E-mail"
                                                                                                                                                                   rel="nofollow" class="icon plain  email tooltip" title="Send us an email">
                                        <i class="icon-envelop"></i>
                                    </a><a href="x" target="_blank" rel="noopener noreferrer nofollow"
                                           data-label="LinkedIn" class="icon plain  linkedin tooltip" title="Follow on LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </div>
                                <p ng-bind="item.intro"></p>
                            </div><!-- box-text-inner -->
                        </div><!-- box-text -->
                    </div><!-- .box  -->

                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="is-divider divider clearfix"></div><!-- .divider -->
        </div>

</main><!-- #main -->
<script src="~/Scripts/app/angular/users/users.controller.js"></script>
<script src="~/Scripts/app/angular/users/users.service.js"></script>
